{% extends 'base.html' %}
{% block title %}ART Predict - Clinician Dashboard{% endblock %}
{% block content %}
<div class="content" id="about-us">
    {% load static %}
    <img src="{% static 'images/about-us.jpg' %}" alt="Health Care" class="about-img">
    <h1>Making Health Care Better Together</h1>
    <p>
        Our classification model helps clinicians and the general public by accurately predicting responses to Antiretroviral Therapy (ART).
        It provides insightful data that clinicians can use to make informed decisions, improving patient outcomes.
    </p>
</div>



{% endblock %}