{% extends 'base_ds.html' %}
{% block title %}ART Predict - Clinician Dashboard{% endblock %}
{% block content %}
<div class="content" id="about-us">
    {% load static %}
    
    <h1>Get In Touch With Us!</h1>
    <p>
        Our classification model helps clinicians and the general public by accurately predicting responses to Antiretroviral Therapy (ART).
        It provides insightful data that clinicians can use to make informed decisions, improving patient outcomes.
    </p>
</div>



{% endblock %}